%div.form-group.col-4
  %strong#error-name.error-msg
    = f.text_field :name, class: 'form-input', required: true,id:"name",value: @user.name
    %label.form-label{for: "name"}= t('general.name')
    %p#text-name.hide= t('errors.name')

%div.form-group.col-4
  %strong#error-last_name.error-msg
    = f.text_field :last_name, class: 'form-input', required: true,id:"last_name",value: @user.last_name
    %label.form-label{for: "last_name"}= t('general.last_name')
    %p#text-last_name.hide= t('errors.last_name')

%div.form-group.col-4
  %strong#error-username.error-msg
    = f.text_field :username, class: 'form-input', required: true,id:"username",value: @user.username
    %label.form-label{for: "username"}= t('general.username')
    %p#text-username.hide= t('errors.username')
    
%div.form-group.col-4
  %strong#error-phone.error-msg
    = f.text_field :phone, class: 'form-input', required: true,id:"phone",value: @user.phone
    %label.form-label{for: "phone"}= t('general.phone')
    %p#text-phone.hide= t('errors.phone')
    
%div.form-group.col-4
  %strong#error-email.error-msg
    = f.text_field :email, class: 'form-input', required: true,id:"email",value: @user.email
    %label.form-label{for: "email"}= t('general.email')
    %p#text-email.hide= t('errors.email')
    
%div.form-group-select.col-4
  %div.form-group
    = f.select :role_id, options_for_select(Role.all.map {|role| [role.name, role.id] },selected: @user.role_id),{ include_blank: "" },{class: 'form-select', required: true}
    %label.form-label{for: "role"}= t('general.role')
